.login-wrapper,
.register-wrapper{
    width: 400px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0 6px 1px #ddd;
    padding: 20px;
}
.auth-wrapper input[type="text"]
{
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}
.form-row{
    margin: 20px 0;
}
.auth-wrapper button{
    width: 100%;
    background: #acbacc !important;
}

.auth-wrapper button:hover
{
    width: 100%;
    background: #9143d9 !important;
}


.auth-wrapper .alert{
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}
.auth-wrapper .alert.alert-error{
    background: #eeaeae;
}
.auth-wrapper .alert.alert-success{
    background: #c9e6a9;
}